<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/add-product.css">
</head>
<%- include('../includes/navigation.ejs') %>
    <form class="product-form" action="/admin/<%- editing ? `/edit-product/product.id?edit=true`: 'add-product'%>" method="POST">
        <div class="form-control">
            <div class="nest">
                <input placeholder="Enter product name.." type="text" name="title" id="title" value="<%- editing ? product.title : '' %>"/>
            </div>
            <div class="nest">
                <input placeholder="Enter product image url..." type="text" name="imageUrl" id="imageUrl" value="<%- editing ? product.imageUrl : '' %>"/>
            </div>
            <div class="nest">
                <input placeholder="Enter product price.." type="number" name="price" id="price" step="0.01" value="<%- editing ? product.price: '' %>"/>
            </div>
            <div class="nest">
                <textarea placeholder="Enter product description.." name="description" id="description" rows="5"><%- editing ? product.description : '' %></textarea>
            </div>
            <button class="btn" type="submit"><%- editing ? 'Update' : 'Add' %> Product</button>
        </div>
    </form>  
<%- include('../includes/end.ejs') %>