<%- include('../includes/head.ejs') %>
</head>

<%- include('../includes/navigation.ejs') %>
<main>
    <% if(products.length > 0){ %>
        <ul class="product-list">
            <% products.forEach( product => { %>
                <li class="card me-3">
                    <p>
                        Product: <%= product.title %>
                    </p>
                    <p>Quantity: <%= product.cartItem.quantity %></p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" name="productId" value="<%= product.id %>"/>
                        <button class="btn-spec w-100" type="submit">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <h1>No Products in Cart!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>