<%- include('../includes/head.ejs') %>
</head>

<%- include('../includes/navigation.ejs') %>

<% if(products.length > 0){ %>
        <ul class="product-list mb-3">
            <% products.forEach( product => { %>
                <li class="card me-3">
                    <p>
                        Product: <%= product.title %>
                    </p>
                    <p>Quantity: <%= product.cartItem.quantity %></p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" name="productId" value="<%= product.id %>"/>
                        <button class="btn-spec w-100" type="submit">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
        <div class="row">
            <div class="col-12 col-md-3">
                <form action="/create-order" method="POST">
                    <button class="btn-spec w-100" type="submit">Order Now</button>
                </form>
            </div>
        </div>
<% } else { %>
    <h1>No Products in Cart!</h1>
<% } %>

<%- include('../includes/end.ejs') %>