<%- include('../includes/head.ejs') %>
</head>

<%- include('../includes/navigation.ejs') %>

<main class="centered product-detail">
    <h1><%= product.title %></h1>
    <hr/>
    <div>
        <img src="<%= product.imageUrl %>" alt="<%= product.imageUrl %>"/>
    </div>
    <h2>$<%= Number(product.price).toFixed(2) %></h2>
    <p><%= product.description %></p>
    <form action="/cart/<%= product.id %>" method="POST">
        <button class="btn" type="submit">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= product.id %>">
    </form>
</main>

<%- include('../includes/end.ejs') %>