<%- include('../includes/head.ejs') %>
</head>

<%- include('../includes/navigation.ejs') %>

<main class="centered product-detail">
    <h1><%= product.title %></h1>
    <hr/>
    <div>
        <img src="<%= product.imageUrl %>" alt="<%= product.imageUrl %>"/>
    </div>
    <div class="row">
        <div class="col-12">
            <h2><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(Number(product.price)) %></h2>
        </div>
        <div class="d-none d-lg-block col-lg-4"></div>
        <div class="col-12 col-lg-4">
            <p><%= product.description %></p>
        </div>
        <div class="d-none d-lg-block col-lg-4"></div>
    </div>   
    <form action="/cart" method="POST">
        <input type="hidden" name="productId" value="<%= product.id %>">
        <button class="btn-spec " type="submit">Add to Cart</button>
    </form>
</main>

<%- include('../includes/end.ejs') %>